@use "../../styles/variables" as vars;

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.chat-messages {
  width: 100%;
  margin-top: 30rem;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

.message-card {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 1rem;

  &.user {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
  }

  &.bot {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
  }
}

.user-form {
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.user-input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  min-height: 2.2rem;
  font-size: 1rem;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.4;
  box-sizing: border-box;
}

textarea {
  overflow: hidden;
  max-height: 10rem;
  border: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
  border: none; 
}

.send-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: vars.$gray;
  margin-left: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
