body {
  margin: 0;
  font-weight: 400; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282a36;
}

* {
  max-width: 100%;
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-width: 340px;
  margin: 0 auto;
}
