@use "../../styles/variables" as vars;
@use "./menu";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: vars.$w-full;
  height: vars.$header-height;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.3s ease;

  .header-wrapper {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: vars.$justify-between;
    align-items: vars.$items-center;
    padding: 0 vars.$margin-medium;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.menu-button {
  border: none;
  background-color: vars.$light-gray;
  cursor: pointer;
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: vars.$radius-md;
  color: vars.$pink;
}

.title {
  color: vars.$white;
  background-color: vars.$light-gray;
  width: 150px;
  align-items: center;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  border-radius: vars.$radius-sm;
}
